@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';
@import '~bootstrap/scss/_type.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #56ffb5;
$dark-transparent: #0000007d;

a {
    text-decoration: none;
    transition: 200ms ease;
}

*::-webkit-scrollbar {
    width: 5px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #000000;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid orange;
    /* creates padding around scroll thumb */
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}
@font-face {
    font-family: 'Montserrat';
    font-variant: 400;
    src: url('Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'Montserrat-500';
    font-variant: 500;
    src: url('Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'SouceSansPro-ExtraLight';
    src: url("Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}